.frame {
    object-fit: cover;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteContent {
    position: absolute;
    cursor: pointer;
}